<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Favorite Movies</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <section id="favorite-movies-section">
    <% movies.forEach(element => { %>
    <div id="movie-card">
      <a href=<%=`/movies/${element.id}`%>><img src=<%=`http://image.tmdb.org/t/p/w780${element.poster_path}`%>></a>
      <p class="movie-title"><%= element.title%></p>
      <a href=<%=`/movie/delete/${element.id}`%>>---</a>
      <p><%= element.id %></p>
    </div>
    <% }) %>
  </section>
</body>

</html>
