<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movies</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <header>
    <div>
      <a href="/">
        <h1>MAGI<span id="logo">CM</span>OVIE</h1>
      </a>
    </div>
    <form id="content" action="/search" method="POST">
      <input type="text" name="input" class="input" id="search-input">
      <button type="reset" class="search" id="search-btn"></button>
    </form>
  </header>
  <section class="genres">
    <span><a href="/movies/genres/fantasy">Fantasy</a></span>
    <span><a href="/movies/genres/action">Action</a></span>
    <span><a href="/movies/genres/comedy">Comedy</a></span>
    <span><a href="/movies/genres/crime">Crime</a></span>
    <span><a href="/movies/genres/horror">Horror</a></span>
    <span><a href="/movies/genres/science_fiction">Science Fiction</a></span>
    <span><a href="/movies/genres/thriller">Thriller</a></span>
    <span><a href="/movies/genres/drama">Drama</a></span>
    <span><a href="/movie/favorites">My Movies</a></span>
  </section>
  <section id="big-image">

  </section>

  <section id="movies-section">
    <% data.forEach(element => { %>
    <div id="movie-card">
      <a href=<%=`/movies/${element.id}`%>><img src=<%=`http://image.tmdb.org/t/p/w780${element.poster_path}`%>></a>
      <p class="movie-title"><%= element.title%></p>
      <p class="vote"><img src="/Vector.png" alt=""><span id="vote-id"><%= element.vote_average %></span>/<span
          id="vote-nr">10</span></p>
    </div>
    <% }) %>
  </section>
  <%- include('../partials/pagination.ejs') %>
  <script src="/main.js"></script>
</body>

</html>
