<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= `${movie.title}` %> </title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <section id="movie-details">
    <div id="hero">
      <img src=<%=`http://image.tmdb.org/t/p/w780${movie.poster_path}`%>>
    </div>
    <div id="details">
      <h1><%= movie.title %></h1>
      <span><%= movie.status %> at </span><span id="datum"><%= movie.release_date %></span>
      <div id="details-genres">
        <% movie.genres.forEach(element => { %>
        <span><%= element.name %></span>
        <% }) %>
      </div>
      <div id="vote-details">
        <div>
          <img src="/vector.png" alt="">
        </div>
        <div>
          <p><span><%= movie.vote_average %></span>/10</p>
          <p>voted :<%= movie.vote_count %></p>
          <p>popularity: <%= movie.popularity %></p>
        </div>
      </div>
      <div>
        <h2>Summary</h2>
        <p><%= movie.overview %></p>
      </div>

      <div>
        <a href=<%= movie.homepage%>>Click here to watch...</a>
      </div>
    </div>
  </section>
</body>

</html>
