<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= `${movie.title}` %> </title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <section>
    <div id="hero">
      <img src=<%=`http://image.tmdb.org/t/p/w780${movie.poster_path}`%>>
    </div>
    <div>
      <div>
        <img src="/vector.png" alt="">
        <p><span><%= movie.vote_average %></span>/10</p>
        <p><%= movie.vote_count %></p>
      </div>
      <div>
        <%= movie.overview %>
      </div>
      <div>
        <% movie.genres.forEach(element => { %>
        <span><%= element.name %> </span>
        <% }) %>
      </div>
      <div>
        <%= movie.popularity %>
      </div>
      <div>
        <%= movie.release_date %>
      </div>
      <div>

        <%= movie.status %>
      </div>
      <div>
        <a href=<%= movie.homepage%>>Hier</a>
      </div>
    </div>
  </section>
</body>

</html>
